<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="" class="logo header__logo">
                <img src="./assets/img/logo.png" alt="">
            </a>
            <ul class="header__menu">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Testimonials</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <div class="header__burger">
                <span></span>
            </div>
        </div>
    </div>
</header>


<nav class="menu">
    <ul class="menu__list">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Testimonials</a></li>
        <li><a href="#contacts">Contact</a></li>
    </ul>
</nav>
