$tb: 540px;
$sm: 1210px;
$pc: 1800px;

$green: #69AE96;
$black: #1F1F1F;
$gray: #8F8F8F;
$bg: #F5F9FA;
$bg2: #F5FCF8;
$bg3: #FCF8F5;

%cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

%contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



