@import 'vars';

/* reset START */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box !important;
    outline: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    cursor: default;
}

span {
    cursor: default;
}

h2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 1;
    @media screen and (min-width: $pc) {
        font-size: 50px;
    }
}

h3 {
    font-size: 20px;
    line-height: 25px;
    @media screen and (min-width: $pc) {
        font-size: 40px;
        line-height: 53px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    &:active {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        -webkit-appearance: none !important;
    }
    span {
        cursor: pointer;
    }
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button, input, textarea {
    margin: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    appearance: none !important;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: transparent !important;
    font-family: inherit;
    font-size: inherit;
}
button, input[type="submit"] {
    cursor: pointer;
}

button span {
    cursor: pointer;
}
button:disabled span {
    cursor: default;
}

hr {
    margin: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

// ::selection {
//     background: $green; /* Safari */
//     color: #fff;
// }
// ::-moz-selection {
//     background: $green; /* Safari */
//     color: #fff;
// }

body {
    min-width: 320px;
    overflow-x: hidden;
    margin: 0;
    // font-family: 'Roboto-Regular', sans-serif;
    // color: #000;
    // background: #F3F1F6;
}

.no-scroll {
    overflow: hidden;
}

.body-wrapper {
    position: relative;
    overflow: hidden !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #69AE96;
    box-shadow: 0px 12px 24px rgba(58, 149, 117, 0.28);
    border-radius: 41px;
    color: #fff;
    width: 357px;
    padding: 20px 0;
    font-size: 16px;
    line-height: 20px;
}
/* reset END */
@media screen and (min-width: $pc) {
    html:not(.no-js) [data-aos=fade-up] {
        transform: translate3d(0,30px,0);
    }
}
.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background: #F3F1F6;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (min-width: $sm) {
        max-width: 1200px;
    }
    @media screen and (min-width: $pc) {
        max-width: 1830px;
    }
}

.main {
    background-color: #F1F6F8;
    position: relative;
    height: 100vh;
    padding-top: 120px;
    &__bg {
        display: block;
        position: absolute;
        bottom: 0;
        right: -30px;
        width: 326px;
        height: 326px;
        img, picture {
            @extend %contain;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .container {
        height: 100%;
    }
    &__title {
        font-size: 40px;
        line-height: 66px;
        letter-spacing: 0.04em;
        font-family: 'Italiana', sans-serif;
        font-weight: 400;
        padding-bottom: 10px;
        color: $black;
    }
    &__subtitle {
        font-size: 20px;
        letter-spacing: 0.02em;
        font-family: 'Montserrat', sans-serif;
        color: $black;
    }
    &__btn {
        margin-top: 40px;
    }
    @media screen and (min-width: $tb) {
        padding-top: unset;
        &__bg {
            bottom: 0;
            right: -30px;
            width: 456px;
            height: 526px;
        }
        &__inner {
            justify-content: center;
            height: 100%;
            width: 542px;
        }
        &__title {
            font-size: 90px;
            line-height: 106px;
            letter-spacing: 0.04em;
        }
        &__subtitle {
            font-size: 20px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    }
    @media screen and (min-width: $sm) {
        height: 630px;
        &__bg {
            width: 456px;
            height: 526px;
            right: -30px;   
            bottom: 0;
        }
        &__inner {
            width: 542px;
            margin-left: 60px;
        }
    }
    @media screen and (min-width: $pc) {
        height: 971px;
        &__bg {
            width: 796px;
            height: 856px;
        }
        &__inner {
            margin-left: 120px;
        }
    }
}
.seo {
    padding-top: 60px;
    &__inner {
        background-color: $bg2;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 40px 20px;
        @media screen and (min-width: $tb) {
            max-width: 800px;
            margin: 0 auto;
        }
        @media screen and (min-width: $sm) {
            padding: 90px 0;
            padding-left: 60px;
            width: 100%;
            max-width: unset;
        }
        @media screen and (min-width: $pc) {
            padding: 150px 0;
            padding-left: 100px;
        }
    }
    &__content {
        margin-bottom: 220px;
        @media screen and (min-width: $tb) {
            margin-bottom: 460px;
        }
        @media screen and (min-width: $sm) {
            margin-bottom: unset;
            margin-right: auto;
            width: 500px;
        }
        @media screen and (min-width: $pc) {
            width: 775px;
        }
    }
    &__img {
        display: block;
        height: 208px;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        img, picture {
            @extend %cover;
        }
        @media screen and (min-width: $tb) {
            height: 460px;
        }
        @media screen and (min-width: $sm) {
            width: 601px;
            height: 100%;
        }
        @media screen and (min-width: $pc) {
            width: 775px;
            height: 490px;
        }
    }
    &__title {
        font-family: 'Italiana', sans-serif;
        font-weight: 400;
        font-size: 60px;
        line-height: 71px;
        letter-spacing: 0.04em;
        color: $black;
        padding-bottom: 20px;
    }
    &__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: $black;
    }
}

