@import 'vars';

/* reset START */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box !important;
    outline: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    cursor: default;
}

span {
    cursor: default;
}

h2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 1;
    @media screen and (min-width: $pc) {
        font-size: 50px;
    }
}

h3 {
    font-size: 20px;
    line-height: 25px;
    @media screen and (min-width: $pc) {
        font-size: 40px;
        line-height: 53px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    &:active {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        -webkit-appearance: none !important;
    }
    span {
        cursor: pointer;
    }
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button, input, textarea {
    margin: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    appearance: none !important;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: transparent !important;
    font-family: inherit;
    font-size: inherit;
}
button, input[type="submit"] {
    cursor: pointer;
}

button span {
    cursor: pointer;
}
button:disabled span {
    cursor: default;
}

hr {
    margin: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

::selection {
    background: #69AE96; /* Safari */
    color: #fff;
}
::-moz-selection {
    background: #69AE96; /* Safari */
    color: #fff;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #FFFFFF;
}

.no-scroll {
    overflow: hidden;
}

.body-wrapper {
    position: relative;
    overflow: hidden !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #69AE96;
    box-shadow: 0px 12px 24px rgba(58, 149, 117, 0.28);
    border-radius: 41px;
    color: #fff;
    width: 357px;
    padding: 20px 0;
    font-size: 16px;
    line-height: 20px;
}
/* reset END */
@media screen and (min-width: $pc) {
    html:not(.no-js) [data-aos=fade-up] {
        transform: translate3d(0,30px,0);
    }
}
.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background: #F3F1F6;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (min-width: $sm) {
        max-width: 1200px;
    }
    @media screen and (min-width: $pc) {
        max-width: 1830px;
    }
}

.title {
    font-family: 'Italiana', sans-serif;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: $black;
    font-size: 32px;
    line-height: 34px;
    @media screen and (min-width: $sm) {
        font-size: 70px;
        line-height: 82px;
    }
}
.header {
    z-index: 99;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 0.3s ease-in-out; 
    &--fixed {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #FFFFFF;
    }
    @media screen and (min-width: $sm) {
        padding: 30px 0;
    }
    @media screen and (min-width: $pc) {
        padding: 36px 0;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: $sm) {
            width: fit-content;
        }
    }
    &__menu {
        display: none;
        align-items: center;
        @media screen and (min-width: $sm) {
            display: flex;
        }
        li {
            padding: 0 26px;
            a {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #A2A2A2;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: #1F1F1F;
                }
            }
        }
    }
}

.main {
    background-color: #F1F6F8;
    position: relative;
    height: 100vh;
    padding-top: 120px;
    &__bg {
        display: block;
        position: absolute;
        bottom: 0;
        right: -30px;
        width: 326px;
        height: 326px;
        img, picture {
            @extend %contain;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .container {
        height: 100%;
    }
    &__title {
        font-size: 40px;
        line-height: 66px;
        letter-spacing: 0.04em;
        font-family: 'Italiana', sans-serif;
        font-weight: 400;
        padding-bottom: 10px;
        color: $black;
    }
    &__subtitle {
        font-size: 20px;
        letter-spacing: 0.02em;
        font-family: 'Montserrat', sans-serif;
        color: $black;
    }
    &__btn {
        margin-top: 40px;
    }
    @media screen and (min-width: $tb) {
        padding-top: unset;
        &__bg {
            bottom: 0;
            right: -30px;
            width: 456px;
            height: 526px;
        }
        &__inner {
            justify-content: center;
            height: 100%;
            width: 542px;
        }
        &__title {
            font-size: 90px;
            line-height: 106px;
            letter-spacing: 0.04em;
        }
        &__subtitle {
            font-size: 20px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
    }
    @media screen and (min-width: $sm) {
        height: 630px;
        &__bg {
            width: 456px;
            height: 526px;
            right: -30px;   
            bottom: 0;
        }
        &__inner {
            width: 542px;
            margin-left: 60px;
        }
    }
    @media screen and (min-width: $pc) {
        height: 971px;
        &__bg {
            width: 796px;
            height: 856px;
        }
        &__inner {
            margin-left: 120px;
        }
    }
}
.seo {
    padding-top: 60px;
    &__inner {
        background-color: $bg2;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 40px 20px;
        @media screen and (min-width: $tb) {
            max-width: 800px;
            margin: 0 auto;
        }
        @media screen and (min-width: $sm) {
            padding: 90px 0;
            padding-left: 60px;
            width: 100%;
            max-width: unset;
        }
        @media screen and (min-width: $pc) {
            padding: 150px 0;
            padding-left: 100px;
        }
    }
    &__content {
        margin-bottom: 220px;
        @media screen and (min-width: $tb) {
            margin-bottom: 460px;
        }
        @media screen and (min-width: $sm) {
            margin-bottom: unset;
            margin-right: auto;
            width: 500px;
        }
        @media screen and (min-width: $pc) {
            width: 775px;
        }
    }
    &__img {
        display: block;
        height: 208px;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        img, picture {
            @extend %cover;
        }
        @media screen and (min-width: $tb) {
            height: 460px;
        }
        @media screen and (min-width: $sm) {
            width: 601px;
            height: 100%;
        }
        @media screen and (min-width: $pc) {
            width: 775px;
            height: 490px;
        }
    }
    &__title {
        font-family: 'Italiana', sans-serif;
        font-weight: 400;
        font-size: 60px;
        line-height: 71px;
        letter-spacing: 0.04em;
        color: $black;
        padding-bottom: 20px;
    }
    &__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: $black;
    }
}

.reviews {
    padding-top: 120px;
    position: relative;
    &__title {
        font-family: 'Italiana', sans-serif;
        font-weight: 400;
        letter-spacing: 0.04em;
        padding-bottom: 42px;
        span {
            color: #69AE96;
        }
        h3 {
            width: fit-content;
        }
        @media screen and (min-width: $tb) {
            font-size: 70px;
            line-height: 82px;
            padding-bottom: 62px;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            width: 1170px;
            margin: 0 auto;
        }
    }
    &__slider {
        overflow: hidden;
        @media screen and (min-width: $tb) {
            width: 570px !important;
            margin: 0 auto;
        }
        @media screen and (min-width: $sm) {
            width: 1170px !important;
        }
    }
    &__pag {
        bottom: -50px !important;
        span {
            background-color: #69AE96;
        }
    }
    &__item {
        background-color: $bg;
        border-radius: 10px;
        padding: 15px;
        @media screen and (min-width: $tb) {
            width: 570px !important;
        }
        @media screen and (min-width: $sm) {
            padding: 30px;
            padding-right: 40px;
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 50px;
            align-items: center;
            row-gap: 20px;
            width: 1170px !important;
        }
        &--img {
            width: 100%;
            height: 220px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 40px;
            img, picture {
                @extend %cover;
                border-radius: 10px;
            }
            @media screen and (min-width: $tb) {
                width: 550px;
                height: 340px;
            }
            @media screen and (min-width: $sm) {
                width: 550px;
                height: 340px;
                margin-bottom: unset;
                grid-row: span 2;
            }
            @media screen and (min-width: $pc) {
                width: 550px;
                height: 340px;
            }
        }
        &--text {
            font-family: 'Montserrat', sans-serif;
            font-style: italic;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.5;
            color: #1F1F1F;
            padding-bottom: 20px;
            @media screen and (min-width: $sm) {
                padding-bottom: unset;
                margin-top: auto;
            }
        }
        &--title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 1.5;
            padding-bottom: 5px;
        }
        &--subtitle {
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.5;
        }
        &--content {
            @media screen and (min-width: $sm) {
                margin-bottom: auto;
            }
            @media screen and (min-width: $pc) {
                width: 348px;
            }
        }
    }
    &__nav {
        display: none;
        width: fit-content;
        @media screen and (min-width: $sm) {
            display: flex;
        }
    }
    &__next, &__prev {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background: #FFFFFF;
        border: 1px solid #E7E7E7;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        svg path {
            fill: #000;
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            background-color: #69AE96;
            svg path {
                fill: #fff;
            }
        }
    }
    &__prev {
        margin-right: 10px;
        svg {
            transform: rotate(180deg);
        }
    }

}

.contacts {
    margin-top: 120px;
    background-color: $bg;
    padding: 60px  0;
    @media screen and (min-width: $sm) {
        padding: 84px 0;
        padding-top: 90px;
    }
    @media screen and (min-width: $sm) {
        padding: 114px 0;
        padding-top: 120px;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $tb) {
            width: fit-content;
            margin: 0 auto;
        }
        @media screen and (min-width: $sm) {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            justify-content: center;
            column-gap: 90px;
        }
        @media screen and (min-width: $pc) {
            column-gap: 190px;
        }
    }
    &__title {
        width: fit-content;

    }
    &__form {
        margin-top: 40px;
        @media screen and (min-width: $tb) {
            width: 570px;
        }
        @media screen and (min-width: $sm) {
            grid-row: span 2;
            margin-top: unset;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
        }
        input, textarea {
            margin-bottom: 16px;
            background: #FFF;
            border: 1px solid #C9CCD4;
            border-radius: 6px;
            padding: 18px 24px;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            width: 100%;
        }
        textarea {
            margin-bottom: unset;
            resize: none;
        }
        button {
            width: 288px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            margin-top: 30px;
            margin-right: auto;
        }
    }
    &__links {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        color: #1F1F1F;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 14px;
        margin-top: 50px;
        a {
            color: #69AE96;
            text-decoration-line: underline;
        }
        @media screen and (min-width: $sm) {
            margin-top: auto;
        }
    }
}

.footer {
    padding-top: 105px;
    padding-bottom: 100px;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        flex-wrap: wrap;
        @media screen and (min-width: $tb) {
            flex-wrap: nowrap;
        }
        li {
            margin-bottom: 20px;
            @media screen and (min-width: $tb) {
                margin-bottom: unset;
            }
            a {
                padding: 0 26px;
                font-size: 16px;
                line-height: 20px;
                font-family: 'Montserrat', sans-serif;
                color: $black;
                font-weight: 300;
                transition: all 0.3s ease-in-out;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    &__copyright {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.5;
        color: $black;
        opacity: 0.5;
        margin-top: 40px;
    }
}